alias startx="exec startx"
alias weechat="source ~/.weechatenv/bin/activate; weechat-curses; deactivate"

# SSH aliases
alias shell="ssh snail@home.theepicsnail.net -p 6666"
alias og="mosh snail@og.hashbang.sh"
alias agent='exec ssh-agent $SHELL'

# Git aliases
alias commit="git commit"
alias push="git push"
alias pull="git pull"
alias add="git add"
alias gap="git add -p"
alias revert="git checkout --"
alias diff="git diff"
alias status="git status"
