alias startx="exec startx"

alias shell='mosh --ssh="ssh -p 6666" snail@home.theepicsnail.net'
alias og="mosh snail@og.hashbang.sh"
alias agent='exec ssh-agent gpg-agent --daemon $SHELL'

# Git aliases
alias commit="git commit"
alias push="git push"
alias pull="git pull"
alias add="git add"
alias gap="git add -p"
alias revert="git checkout --"
alias diff="git diff"
alias status="git status"
